.task {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.task button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

.task button:hover {
    background-color: #2d2d2d;
    border: 1px solid #000000;
}