.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task p {
    margin: 0;
}

.task button {
    border-radius: 4px;
    padding: 7px 10px;
    border: none;
    background-color: #0b0b0b;
    color: white;
}

.task button:hover {
    background-color: #c82333;
}